<app-header></app-header>
<app-admin-nav></app-admin-nav>
<div class="default_page users_admin_page">
  <a routerLink="/admin/create/user">
    <app-button color="primary" type="button"
      >Cadastrar novo usuário</app-button
    >
  </a>
  @for (user of this.usersService.users(); track user.id) {
  <app-admin-card
    [title]="user.name"
    [id]="user.id"
    editUrl="/admin/update/user"
    [deleteFunction]="this.usersService.deleteUser"
  ></app-admin-card>
  } @empty {
  <h1 class="empty">Nenhum usuário cadastrado</h1>
  }
</div>
