$primary-color: #2f9e40;
$secondary-color: #cf0108;

$primary-dark-color: #006713;
$secondary-dark-color: #aa0006;

$light-blue-color: #2c66ce;
$light-gray-color: #eaebee;

$title-size: 42px;
$subtitle-size: 34px;
$p-size: 20px;
$big-size: 22px;
$small-size: 16px;
