$primary-color: #379234;
$secondary-color: #cf0108;

$primary-dark-color: #00420c;
$light-blue-color: #2c66ce;

$title-size: 42px;
$subtitle-size: 34px;
$p-size: 18px;
$big-size: 22px;
$small-size: 16px;
