@import "../../../styles/variables.scss";

.home {
  display: flex;
  flex-direction: column;
  align-self: center;
  background-color: white;
  width: 100%;
  max-width: 1200px;
  height: 100%;
  padding: 190px 20px 20px 20px;
  margin: auto;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.197);
}
