<div class="login">
  <div class="background_container">
    <div class="image_container">
      <img
        src="/imgs/ifes-logo-paisagem.png"
        alt="Logo-IFES"
        class="ifes_background"
      />
    </div>
  </div>
  <div class="login_container">
    <img src="/imgs/ifes-logo-retrato.png" alt="logo-ifes" class="logo" />
    <h1 class="login_title">Realize seu login:</h1>
    <form [formGroup]="form" (ngSubmit)="onSubmit($event)" method="post">
      <app-form-area
        formControlName="email"
        label="Email:"
        type="email"
        name="email"
        placeholder="Seu email"
      >
        <fa-icon [icon]="faEnvelope" class="icon" size="xl"></fa-icon>
      </app-form-area>
      <app-form-area
        formControlName="password"
        label="Senha:"
        type="password"
        name="password"
        placeholder="Sua senha"
      >
        <fa-icon [icon]="faKey" class="icon" size="xl"></fa-icon
      ></app-form-area>
      <app-button color="primary" type="submit">Enviar</app-button>
    </form>
  </div>
</div>
