div.back {
  width: calc(100% - 20px);
  padding: 10px;

  .left_arrow {
    color: black;
    margin-left: 10px;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      margin-left: 0;
    }
  }
}
